
.body-initial {width: 659px; top: 536px; left: 501px; background-color: transparent; min-height: 223px; background-image: url('../assets/STARBY.png'); background-position: center center; background-repeat: no-repeat; background-attachment: fixed; background-size: cover;}.silex-id-1544758363473-2 {width: 299px; background-color: transparent; min-height: 304px; top: -237px; left: 50px;}.silex-id-1544758205937-1 {width: 295px; background-color: transparent; min-height: 304px; top: -232px; left: 645px;}.silex-id-1544759884690-1 {width: 389px; min-height: 81px; top: 65px; left: 289px;}.silex-id-1544759936081-2 {width: 641px; min-height: 170px; top: 113px; left: 171px;}
h1 {color: #ffffff; text-align: center;}h2 {color: #ffffff; text-align: center;}.text-element > .silex-element-content {font-family: 'Roboto', sans-serif;}
.text-style-1.text-element > .silex-element-content {color: #ffffff; text-align: center;}
.text-style-2.text-element > .silex-element-content {color: #ffffff;}
.text-style-3.text-element > .silex-element-content {color: #ffffff;}
.text-style-4.text-element > .silex-element-content {color: #ffffff;}
.text-style-5.text-element > .silex-element-content {color: #ffffff;}
.text-style-6.text-element > .silex-element-content {color: #ffffff;}
.text-style-7.text-element > .silex-element-content {color: #ffffff;}
.text-style-8.text-element > .silex-element-content {color: #ffffff;}
.text-style-9.text-element > .silex-element-content {color: #ffffff;}
.text-style-10.text-element > .silex-element-content {color: #ffffff;}
.text-style-11.text-element > .silex-element-content {color: #ffffff;}
.text-style-12.text-element > .silex-element-content {color: #ffffff;}
.text-style-13.text-element > .silex-element-content {color: #ffffff;}
.text-style-14.text-element > .silex-element-content {color: #ffffff;}
.text-style-15 h2 {font-family: 'Roboto', sans-serif; font-variant: normal;}.text-style-15.text-element > .silex-element-content {color: #ffffff; text-align: center;}
.text-style-15 h2 {font-family: 'Roboto', sans-serif; font-variant: normal;}.text-style-15.text-element > .silex-element-content {color: #ffffff; text-align: center;}body.silex-runtime {opacity: 1;}
